
body
{
	background-color: #f6fff6
}

form.login
{
	width:	300px;
	padding: 20px 40px 20px 40px;
	background-color : #ddffff;
	position:absolute;
	top: 33%;
	left: 40%;
}

input
{
	margin: 0 0 0 0;
}

H3
{
	background-color: #ffcc66;
}

p
{
	margin: 5 0 0 0;
}



#submit
{
	margin-top:5;
}

#a_reg
{
	margin-left: 160;
}
